certs:
  - certName: wildcard-test-local-tls
    dnsNames:
    - "test.local"
    - "*.test.local"
traefik:
  deployment:
    kind: DaemonSet
  ingressRoute:
    dashboard:
      enabled: false
      matchRule: Host(`traefik.test.local`)
      entryPoints: ["websecure"]
      middlewares:
        - name: traefik-dashboard-auth
  providers:
    kubernetesGateway:
      enabled: true
  gateway:
    listeners:
      web:
        namespacePolicy:
          from: All
      websecure:
        port: 8443
        protocol: HTTPS
        namespacePolicy:
          from: All
        certificateRefs:
        - name: wildcard-test-local-tls
          kind: Secret
        mode: Terminate
  ports:
    web:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
    websecure:
      asDefault: true
  tlsStore:
    default:
      defaultCertificate:
        secretName: wildcard-test-local-tls

  